# GPU版
numpy
pandas
seaborn
matplotlib
japanize-matplotlib
scikit-learn
scipy
tqdm
tensorflow
keras
tensorboard
torch
torchaudio
torchvision
torchsummary
visdom
medmnist
optuna
optuna-dashboard
sqlalchemy
psycopg2
psycopg2-binary
ipywidgets
jupyterlab
jupyterlab-widgets
tqdm