numpy==1.26.4
pandas==2.1.4
seaborn==0.13.2
matplotlib==3.5.3
japanize-matplotlib==1.1.3
scikit-learn==1.5.2
scipy==1.10.1
tqdm==4.66.5
tensorflow==2.17.0
keras==3.5.0
tensorboard==2.17.1
torch==2.5.1
torchvision==0.20.1
torchsummary==1.5.1
visdom==0.2.4
medmnist==3.0.2
optuna==4.1.0
optuna-dashboard==0.17.0
sqlalchemy==2.0.37
psycopg2==2.9.10
psycopg2-binary==2.9.10
ipywidgets==8.0.7
jupyterlab-widgets==3.0.8
tqdm==4.66.5
# バージョンを指定すること（同じ環境を再現しやすくなる）
# ライブラリを増やしたらdocker compose up --buildを再度実行する